<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href= "{{ url_for('static',filename='favicon.ico') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
	<title>Make Selection</title>
</head>
<body> 
<button><a class="navBar" href="/">Home</a></button>
    <div class="container">  
        <form id = 'contact' action="{{ url_for('pickBetaOption') }}" method="POST" enctype="multipart/form-data">
            <h3 id = "pin">Choose Option</h3>
            <fieldset id = "pin">
                <input type="radio" name="pickOne" value="transcribe"> Transcribe<br>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit">Submit</button>
            </fieldset>
      </form>
    </div>
</body>