<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href= "{{ url_for('static',filename='favicon.ico') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
	<title>Make Selection</title>
</head>
<body> 
<button><a class="navBar" href="/">Home</a></button>
    <div class="container">  
        <form id = 'contact' action="{{ url_for('pickedOptionMain') }}" method="POST" enctype="multipart/form-data">
            <h3 id = "pin">Choose Option</h3>
            <fieldset id = "pin">
                <input type="radio" name="pickOne" value="imageToText"> Text Recognition<br>
            </fieldset>
            <fieldset id = "pin">
                <input type="radio" name="pickOne" value="translate"> Text Translation<br>
            </fieldset>
            <fieldset id = "pin">
                <input type="radio" name="pickOne" value="speechTranscribe"> Speech Transcription<br>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit">Submit</button>
            </fieldset>
      </form>
    </div>
    <div style="text-align: center; padding-top: 25px;">
        <h2 style="color: white;">AWS Project Demo</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LQSBkXhBnZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div style="color: white; font-size: large;">
            <p>The test files used in the demo are located here:</p>
            <p>Please download them and upload them in the appropriate pages</p>
            <p>1) Image:
                <a href = "https://drive.google.com/file/d/10ObFeeEj6cdhBSIEkpyHkcrs9IMpor4S/view?usp=sharing"> T-Shirt</a>, 
                <a href= "https://drive.google.com/open?id=1nye5w8SnRZX4s9gIokGrELCq_hPcIl3z"> Hand-Written Text</a>
            </p>
            <p>2) Audio File: 
                <a href="https://drive.google.com/open?id=1vP7wTlgsJ3jtxxtEZqMMju6QvSY6hE_s">Trevor Noah & Tomi Lahren</a>
            </p>
            <p>If you would like to test my application with your own files, please do so.</p> 
            <p>I do not store any of your data or images after the application has completed.</p>
            <p> I delete the image from the S3 bucket after each refresh</p>
        </div>
    </div>
</body>