<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href= "{{ url_for('static',filename='favicon.ico') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
	<title>Upload Image</title>
</head>
<body> 
<button><a class="navBar" href="/">Home</a></button>
    <div class="container">  
        <form id = 'contact' action="{{ url_for('pickedOption') }}" method="POST" enctype="multipart/form-data">
        <h3 id = "pin">Upload Image</h3>
        <fieldset id = "pin">
            Select the image with text (.png, .jpg): <input type="file" name="uploadfile" accept ="image/*"/>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit">Submit</button>
        </fieldset>
      </form>
    </div>
</body>